<h1> Hey Guy! <%= @user_name %> </h1>
<h3>First name, Guy!: </h3><%= @user.first_name %><br>
<h3>Last Name, Guy!: </h3><%= @user.last_name %><br>
<h3>Street Address, Guy!: </h3><%= @user.street_address %><br>
<h3>State, Guy!: </h3><%= @user.state %><br>
<h3>City, Guy!: </h3><%= @user.city %><br>
<h3>Country, Guy!: </h3><%= @user.country %><br>
<h3>Postal Code, Guy!: </h3><%= @user.postal_code %><br>
<h3>E-mail Address, Guy!: </h3><%= @user.email_address %><br>
<h3>Work Phone, Guy!: </h3><%= @phones.phone1 %>
<h3>Home Phone, Guy!: </h3><%= @phones.phone2 %>
<h3>Cell Phone, Guy!: </h3><%= @phones.phone3 %>
